# Vanilla data generators expose these members through Fabric's transitive access wideners.
# Keep the common/NeoForge compile surface equivalent.
public net.minecraft.client.data.models.model.TextureSlot create(Ljava/lang/String;)Lnet/minecraft/client/data/models/model/TextureSlot;
public net.minecraft.client.data.models.model.TexturedModel createDefault(Ljava/util/function/Function;Lnet/minecraft/client/data/models/model/ModelTemplate;)Lnet/minecraft/client/data/models/model/TexturedModel$Provider;

public net.minecraft.client.data.models.BlockModelGenerators blockStateOutput
public net.minecraft.client.data.models.BlockModelGenerators modelOutput
public net.minecraft.client.data.models.BlockModelGenerators plainVariant(Lnet/minecraft/resources/Identifier;)Lnet/minecraft/client/data/models/MultiVariant;
public net.minecraft.client.data.models.BlockModelGenerators createSimpleBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/client/data/models/MultiVariant;)Lnet/minecraft/client/data/models/blockstates/MultiVariantGenerator;
public net.minecraft.client.data.models.BlockModelGenerators registerSimpleItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/Identifier;)V
public net.minecraft.client.data.models.BlockModelGenerators createTrivialCube(Lnet/minecraft/world/level/block/Block;)V
public net.minecraft.client.data.models.BlockModelGenerators createFurnace(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/client/data/models/model/TexturedModel$Provider;)V
public net.minecraft.client.data.models.BlockModelGenerators createNonTemplateModelBlock(Lnet/minecraft/world/level/block/Block;)V
public net.minecraft.client.data.models.BlockModelGenerators createNonTemplateHorizontalBlock(Lnet/minecraft/world/level/block/Block;)V
public net.minecraft.client.data.models.BlockModelGenerators woodProvider(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/client/data/models/BlockModelGenerators$WoodProvider;
public net.minecraft.client.data.models.BlockModelGenerators$WoodProvider
public net.minecraft.client.data.models.BlockModelGenerators$WoodProvider logWithHorizontal(Lnet/minecraft/world/level/block/Block;)V

public net.minecraft.client.data.models.ItemModelGenerators itemModelOutput
public net.minecraft.client.data.models.ItemModelGenerators modelOutput
public net.minecraft.client.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/client/data/models/model/ModelTemplate;)V

public net.minecraft.data.recipes.RecipeProvider nineBlockStorageRecipes(Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/level/ItemLike;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/level/ItemLike;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V

public net.minecraft.client.renderer.RenderPipelines ENTITY_SNIPPET
